<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ room.name }} — NekkoHotel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header class="main-header">
  <div class="logo-title d-flex align-items-center">
    <img src="{{ url_for('static', filename='images/logo.webp') }}" class="logo me-3" alt="Logo" />
    <h1 class="mb-0">NekkoHotel</h1>
  </div>
  <nav>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('hotel_info') }}">Об отеле</a>
    <a href="{{ url_for('bookings_list')}}">Мои бронирования</a>
  </nav>
</header>

<main class="room-detail container my-4">
  <h2 class="text-center mb-4">{{ room.name }}</h2>

  <div id="roomCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for photo in room.photos %}
      <div class="carousel-item {% if loop.first %}active{% endif %}">
        <img src="{{ photo }}" class="d-block w-100 rounded" alt="Фото номера">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущая</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующая</span>
    </button>
  </div>

  <p class="room-description" style="white-space: pre-line;">{{ room.detailed_desc }}</p>


  <div class="booking-form-container mt-5">
    <h3>Забронировать номер</h3>
    <form method="POST" action="{{ url_for('book') }}" class="booking-form">
      <div class="mb-3">
        <label for="name" class="form-label">Имя:</label>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Дата заезда:</label>
        <input type="date" name="date" id="date" class="form-control" required>
      </div>
      <input type="hidden" name="room" value="{{ room_id }}">
      <button type="submit" class="btn btn-primary">Забронировать</button>
    </form>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
